In [22]:
import numpy as np
import pandas as pd
import json
import os

pd.set_option('display.max_columns', None)

/FileStore/tables/estados.csv

In [23]:
read = open('./metadata.json', 'r')
metadata = json.loads(read.read())
read.close()

In [4]:
metadata.keys()

dict_keys(['doc_desc', 'study_desc'])

# limpieza de datos

In [29]:
import sys

sys.path.insert(1, 'C:/Users/brenda.linares/cursos/cogno/')

In [33]:
df = pd.read_csv(
    'C:/Users/brenda.linares/cursos/cogno/gastoshogar-comp.csv',
    dtype={
        x: 'str'
        for x in [
            'clave',
            'forma_pag1',
            'forma_pag2',
            'forma_pag3',
            'frecuencia',
            'inst_1',
            'inst_2',
            'lugar_comp',
            'orga_inst',
            'tipo_gasto',
            'mes_dia',
            'fecha_adqu',
            'fecha_pago',
            'folioviv',
            'foliohog',
        ]
    },
    na_values=['0000', '00', '0'],
    quotechar="'",
)

C:\Users\brenda.linares\AppData\Local\Temp\ipykernel_22608\1411381162.py:1: DtypeWarning: Columns (13,14,16,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/brenda.linares/cursos/cogno/gastoshogar-comp.csv'

In [50]:
df.shape

(4948444, 27)

In [34]:
# El siguiente es un ejemplo de la respuesta esperada, sin embargo, para conseguir el punto debe encontrar el error en la función


def valores_numericos(data: pd.DataFrame, columnas: list):
    """Recibe un DataFrame y un listado de columnas y transforma el tipo de dato de estas ultimas a flotante"""
    data_out = (
        data.copy()
    )  # recuerda hacer un copy de la tabla a manipular en la función para evitar problemas de relación
    for columna in columnas:
        data_out[columna] = pd.to_numeric(data_out[columna], errors='coerce').astype(float)
    return data_out


# El siguiente es un ejemplo de la respuesta esperada, sin embargo, para conseguir el punto debe encontrar el error en la función
def no_nulo(data: pd.DataFrame, min_pct_no_nulo: float = 0.60):
    """Recibe un DataFrame y un listado de columnas y transforma el tipo de dato de estas ultimas a flotante"""
    data_out = (
        data.copy()
    )  # recuerda hacer un copy de la tabla a manipular en la función para evitar problemas de relación
    drop_cols = []

    for column in range(len(data_out.columns)):
        if (data_out.iloc[:, column].isnull().sum() / len(data_out.iloc[:, column])) > min_pct_no_nulo:
            drop_cols.append(data_out.columns[column])

        else:
            pass

    data_out = data_out.drop(axis=1, labels=drop_cols)
    return data_out


def no_unarias(data: pd.DataFrame, columnas: list, max_pct_repeticion: float = 0.90):
    data_out = (
        data.copy()
    )  # recuerda hacer un copy de la tabla a manipular en la función para evitar problemas de relación
    drop_cols = []

    for columna in columnas:
        if columna in data_out.columns:
            if (data_out[columna].value_counts().max() / len(data_out.iloc[:, 1])) > max_pct_repeticion:
                drop_cols.append(columna)
            else:
                pass
        else:
            pass

    data_out = data_out.drop(axis=1, labels=drop_cols)
    return data_out


def limpieza_de_datos(
    data: pd.DataFrame,
    columnas_numericas: list,
    columnas_no_numericas: list,
    min_pct_no_nulo: float = 0.60,
    max_pct_repeticion: float = 0.90,
):
    data_out = (
        data.copy()
    )  # recuerda hacer un copy de la tabla a manipular en la función para evitar problemas de relación

    num_vals = valores_numericos(data_out, columnas_numericas)
    print('numeric values are now FLOATS')

    sin_null = no_nulo(num_vals, min_pct_no_nulo=min_pct_no_nulo)
    print('null values removed')

    for c in columnas_no_numericas:
        if c in sin_null.columns:
            data_out = no_unarias(sin_null, columnas_no_numericas, max_pct_repeticion=max_pct_repeticion)
        else:
            pass
    print('var disccretas limpias')

    return data_out


# Hint: algunas columnas no numericas serán eliminadas por la función de no_nulo, por lo que al querer borrarlas en no_unarias puede producir que no encuentre la columna

In [6]:
def limpieza_de_datos(
    data: pd.DataFrame,
    columnas_numericas: list,
    columnas_no_numericas: list,
    min_pct_no_nulo: float = 0.60,
    max_pct_repeticion: float = 0.90,
):
    data_out = (
        data.copy()
    )  # recuerda hacer un copy de la tabla a manipular en la función para evitar problemas de relación

    num_vals = valores_numericos(data_out, columnas_numericas)
    print('numeric values are now FLOATS')

    sin_null = no_nulo(num_vals, min_pct_no_nulo=min_pct_no_nulo)
    print('null values removed')

    for c in columnas_no_numericas:
        if c in sin_null.columns:
            data_out = no_unarias(sin_null, columnas_no_numericas, max_pct_repeticion=max_pct_repeticion)
        else:
            pass
    print('var disccretas limpias')

    return data_out


# Hint: algunas columnas no numericas serán eliminadas por la función de no_nulo, por lo que al querer borrarlas en no_unarias puede producir que no encuentre la columna

In [35]:
cols_num = [
    'cantidad',
    'gasto',
    'pago_mp',
    'costo',
    'inmujer',
    'num_meses',
    'num_pagos',
    'gasto_tri',
    'gasto_nm',
    'gas_nm_tri',
    'imujer_tri',
]
cols_nonum = [
    'clave',
    'tipo_gasto',
    'mes_dia',
    'forma_pag1',
    'forma_pag2',
    'forma_pag3',
    'lugar_comp',
    'orga_inst',
    'frecuencia',
    'fecha_adqu',
    'fecha_pago',
    'inst_1',
    'inst_2',
    'ultim_pago',
]

In [36]:
df_f = limpieza_de_datos(
    data=df, columnas_numericas=cols_num, columnas_no_numericas=cols_nonum, min_pct_no_nulo=0.7, max_pct_repeticion=0.9
)
df_f.head()

numeric values are now FLOATS
null values removed
var disccretas limpias

,folioviv,foliohog,clave,mes_dia,forma_pag1,lugar_comp,cantidad,gasto,gasto_tri
0,0100013605,1,C001,NaN,01,06,NaN,36.0,108.0
1,0100013605,1,C004,NaN,01,06,NaN,19.0,57.0
2,0100013605,1,C005,NaN,01,06,NaN,23.0,69.0
3,0100013605,1,C006,NaN,01,06,NaN,15.0,45.0
4,0100013605,1,C015,NaN,01,06,NaN,32.0,96.0

In [37]:
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4948444 entries, 0 to 4948443
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   folioviv    object
 1   foliohog    object
 2   clave       object
 3   mes_dia     object
 4   forma_pag1  object
 5   lugar_comp  object
 6   cantidad    float64
 7   gasto       float64
 8   gasto_tri   float64
dtypes: float64(3), object(6)
memory usage: 339.8+ MB

In [38]:
columnas_numericas = [x for x in cols_num if x in df_f.columns]
columnas_no_numericas = [x for x in cols_nonum if x in df_f.columns]

# Cruce tablas

In [39]:
estados_df = pd.read_csv('estados.csv', na_values=['0000', '00', '0'], quotechar="'")

In [40]:
estados_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   clave_edo  34 non-null     int64
 1   Enitidad   34 non-null     object
dtypes: int64(1), object(1)
memory usage: 672.0+ bytes

In [41]:
catalogos = os.listdir('./catalogos/')

In [42]:
cat = dict()
for x in catalogos:
    read = open(f'./catalogos/{x}', 'r')
    json_r = json.loads(read.read())
    read.close()
    json_r = pd.DataFrame(json_r['var_catgry'])
    name = x.split('.')[0]
    json_r.rename(columns={'value': name, 'labl': f'{name} codificación'}, inplace=True)
    cat[name] = json_r[[name, f'{name} codificación']]

In [13]:
cat.keys()

dict_keys(['clave', 'forma_pag1', 'forma_pag2', 'forma_pag3', 'frecuencia', 'inst_1', 'inst_2', 'lugar_comp', 'orga_inst', 'tipo_gasto'])

In [43]:
for col in columnas_no_numericas:
    try:
        df_f = df_f.merge(cat[col], how='left')
    except:
        None

In [44]:
df_f.head(5)

,folioviv,foliohog,clave,mes_dia,forma_pag1,lugar_comp,cantidad,gasto,gasto_tri,clave codificación,forma_pag1 codificación,lugar_comp codificación
0,0100013605,1,C001,NaN,01,06,NaN,36.0,108.0,"Detergentes (polvo, líquido, pasta, gel)",Efectivo,Supermercados
1,0100013605,1,C004,NaN,01,06,NaN,19.0,57.0,Suavizantes de telas,Efectivo,Supermercados
2,0100013605,1,C005,NaN,01,06,NaN,23.0,69.0,Limpiadores (en polvo o líquido),Efectivo,Supermercados
3,0100013605,1,C006,NaN,01,06,NaN,15.0,45.0,Servilletas y papel absorbente,Efectivo,Supermercados
4,0100013605,1,C015,NaN,01,06,NaN,32.0,96.0,"Insecticidas líquido, en polvo, pastilla, raid...",Efectivo,Supermercados

In [45]:
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4948444 entries, 0 to 4948443
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   folioviv                 object
 1   foliohog                 object
 2   clave                    object
 3   mes_dia                  object
 4   forma_pag1               object
 5   lugar_comp               object
 6   cantidad                 float64
 7   gasto                    float64
 8   gasto_tri                float64
 9   clave codificación       object
 10  forma_pag1 codificación  object
 11  lugar_comp codificación  object
dtypes: float64(3), object(9)
memory usage: 453.0+ MB

In [20]:
clave_df = cat['clave']
forma_pag1_df = cat['forma_pag1']
lugar_comp_df = cat['lugar_comp']

clave_df.to_csv("catalogos-csv/clave.csv", index=False)
forma_pag1_df.to_csv("catalogos-csv/forma_pag1.csv", index=False)
lugar_comp_df.to_csv("catalogos-csv/lugar_comp.csv", index=False)

In [48]:
df_f.shape

(4948444, 12)

In [51]:
df['folioviv'].drop_duplicates().count()

87754

In [52]:
df[['folioviv', 'foliohog']].drop_duplicates()['foliohog'].count()

89006

In [49]:
df_f.to_csv("gastoshogar_limpia.csv", index=False)